<table class="highlight mb2">
  <thead>
  <tr>
    <th>№</th>
    <th>ФИО</th>
    <th>Дата рождения</th>
    <th>Страна</th>
    <th>E-mail</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let bid of bids; let idx = index">
    <td>{{idx + 1}}</td>
    <td>{{bid.name}}</td>
    <td>{{bid.birthday |date: 'dd.MM.yyyy'}}</td>
    <td>{{bid.country }}</td>
    <td>{{bid.email}}</td>
    <td>
      <button class="btn btn-small grey darken-1" (click)="selectOrder(bid)">
        <i class="material-icons">open_in_new</i>
      </button>
    </td>
  </tr>

  </tbody>
</table>


<div id="order-list" class="modal modal-fixed-footer" #modal>
  <div class="modal-content" *ngIf="selectedBid">
    <h4 class="mb1">Выбран {{selectedBid.name}}</h4>

  </div>
  <div class="modal-footer">
    <button
      class="modal-action waves-effect waves-black btn-flat"
      (click)="closeModal()"
    >Закрыть</button>
  </div>
</div>
