<form class="card"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Зааявка на паспорт болельщика</span>
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text"
        [ngClass] = "{'invalid': form.get('name').invalid && form.get('name').touched }"
      >
      <label for="name">ФИО:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('name').invalid && form.get('name').touched"
      >
        <span *ngIf="form.get('name').errors['required']">Email не должен быть пустым</span>
      </span>
    </div>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass] = "{'invalid': form.get('email').invalid && form.get('email').touched }"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <span *ngIf="form.get('email').errors['required']">Email не должен быть пустым</span>
        <span *ngIf="form.get('email').errors['email']">Email не корректен</span>
      </span>
    </div>
    <div class="input-field">
      <input
        formControlName="birthday"
        id="birthday"
        #birthday
        type="text"
        class="datepicker"
      >
      <label for="name">Дата рождения:</label>
    <!--  <span
        class="helper-text red-text"
        *ngIf="form.get('birthday').invalid && form.get('birthday').touched"
      >
        <span *ngIf="form.get('birthday').errors['required']">Дата не может быть быть пустой</span>
      </span>-->
    </div>
    <div class="input-field">
      <input
        formControlName="country"
        id="country"
        type="text"
        [ngClass] = "{'invalid': form.get('country').invalid && form.get('country').touched }"

      >
      <label for="birthday">Страна:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('country').invalid && form.get('country').touched"
      >
        <span *ngIf="form.get('country').errors['required']">Выберите страну</span>
         </span>
    </div>
  </div>
  <div class="card-action">
    <button
      [disabled]="form.invalid || form.disabled"
      class="modal-action btn waves-effect"
      type="submit"
    >
      Войти</button>
  </div>
</form>
